@model AccountTrackerV2.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Account Tracker</h1>
    <p class="lead">Keep Account</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Account Balances</h4>
                </div>
            </div>
            <div class="panel-body" style="overflow:auto">
                <table class="table table-sm">
                    <caption>List of balances by account</caption>
                    <thead class="thead-light">
                        <tr>
                            <th>Account</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model.AccountsWithBalances)
                        {
                            <tr>
                                <td>@account.Name</td>
                                <td style="text-align: right">$@account.Balance.ToString("#,##0.00")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Spending by Category</h4>
                </div>
            </div>
            <div class="panel-body" style="overflow:auto">
                <table class="table table-sm">
                    <caption>List of spending by category</caption>
                    <thead class="thead-light">
                        <tr>
                            <th>Category</th>
                            <th>Spending</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.ByCategorySpending)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td style="text-align: right">$@category.Amount.ToString("#,##0.00")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Spending by Vendor</h4>
                </div>
            </div>
            <div class="panel-body" style="overflow:auto">
                <table class="table table-sm">
                    <caption>List of spending by vendor</caption>
                    <thead class="thead-light">
                        <tr>
                            <th>Vendor</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vendor in Model.ByVendorSpending)
                        {
                            <tr>
                                <td>@vendor.Name</td>
                                <td style="text-align: right">$@vendor.Amount.ToString("#,##0.00")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Transactions</h4>
                </div>
            </div>
            <div class="panel-body" style="overflow:auto">
                <table class="table table-sm">
                    <caption>List of transactions</caption>
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Account</th>
                            <th>Category</th>
                            <th>Vendor</th>
                            <th>Ammount</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model.Transactions)
                        {
                            <tr>
                                <td>@transaction.TransactionDate.Date.ToString("MM/dd/yyyy")</td>
                                <td>@transaction.TransactionType.Name</td>
                                <td>@transaction.Account.Name</td>
                                <td>@transaction.Category.Name</td>
                                <td>@transaction.Vendor.Name</td>
                                <td style="text-align: right">$@transaction.Amount.ToString("#,##0.00")</td>
                                <td>@transaction.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>