@model AccountTrackerV2.ViewModels.TransactionViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="@Model.TransactionOfInterest.TransactionDate"></label>
            <input asp-for="@Model.TransactionOfInterest.TransactionDate" class="form-control" type="date" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="@Model.TransactionOfInterest.TransactionTypeID"></label>
            <select asp-for="@Model.TransactionOfInterest.TransactionTypeID" class="form-control" asp-items="@Model.TransactionTypesSelectList"></select>
            <span asp-validation-for="@Model.TransactionOfInterest.TransactionTypeID" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="@Model.TransactionOfInterest.AccountID"></label>
            <select asp-for="@Model.TransactionOfInterest.AccountID" class="form-control" asp-items="@Model.AccountSelectList"></select>
            <span asp-validation-for="@Model.TransactionOfInterest.AccountID" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="@Model.TransactionOfInterest.CategoryID"></label>
            <select asp-for="@Model.TransactionOfInterest.CategoryID" class="form-control" asp-items="@Model.CategorySelectList"></select>
            <span asp-validation-for="@Model.TransactionOfInterest.CategoryID" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="@Model.TransactionOfInterest.VendorID"></label>
            <select asp-for="@Model.TransactionOfInterest.VendorID" class="form-control" asp-items="@Model.VendorSelectList"></select>
            <span asp-validation-for="@Model.TransactionOfInterest.VendorID" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="@Model.TransactionOfInterest.Amount"></label>
            <input asp-for="@Model.TransactionOfInterest.Amount" class="form-control"/>
            <span asp-validation-for="@Model.TransactionOfInterest.Amount" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="@Model.TransactionOfInterest.Description"></label>
            <input asp-for="@Model.TransactionOfInterest.Description" class="form-control" type="text"/>
        </div>
    </div>
</div>
