@model AccountTrackerV2.ViewModels.ApplicationViewModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(m => m.AccountOfInterest.Name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.AccountOfInterest.Name, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AccountOfInterest.Name, "", new { @class = "text-danger"})
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(m => m.AccountOfInterest.IsAsset, new { @class = "control-label" })
            @Html.CheckBoxFor(m => m.AccountOfInterest.IsAsset, new { @class = "form-control" })            
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(m => m.AccountOfInterest.IsActive, new { @class = "control-label" })
            @Html.CheckBoxFor(m => m.AccountOfInterest.IsActive, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(m => m.TransactionOfInterest.Amount, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.TransactionOfInterest.Amount, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TransactionOfInterest.Amount, "Non-zero amount is required. Format: 0.00.", new { @class = "text-danger" })
        </div>
    </div>
</div>